@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker-wrapper {
  width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
